body {
    font-family: monospace;
}

.navbar-nav a {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    /* color: white; */
}

.navbar .navbar-brand {
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: white;
}

.navbar .navbar-nav .nav-link {
    color: white;
    margin: 0 13px
}

.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: yellow;
}

/* CAROUSEL SECTION STYLING STARTS HERE */

.carousel-item {
    height: 100vh;
    min-width: 300px;
}

.bg-1 {
    background-image: url(./1.jpg);
    background-size: cover;
}

.bg-2 {
    background-image: url(./2.jpg);
    background-size: cover;
}

.bg-3 {
    background-image: url(./3.jpg);
    background-size: cover;
}

.carousel-caption {
    bottom: 220px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 80%);
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 70px;
    font-family: 'Moon Dance', cursive;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.text-warning {
    font-weight: 600;
}

.carousel-caption a {
    padding: 5px 17px;
    background: yellow;
    font-weight: 700;
    font-family: 'Moon Dance', cursive;
    text-decoration: none;
    font-size: 22px;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
section {
    padding: 50px 80px;
}

.title {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 145px;
    left: 50%;
    bottom: 0;
    background: #111;
    transform: translateX(-50%);
}

/* ABOUT SECTION STYLING STARTS HERE */


.about .left {
    width: 50%;
}

.about .left p {
    text-align: justify;
    margin-bottom: 30px;
    font-size: 15px;
}

.about .left a {
    font-size: 21px;
    font-weight: 700;
    padding: 4px 20px;
    color: white;
    background: yellow;
    text-decoration: none;
    border: 2px solid yellow;
    font-family: 'Moon Dance', cursive;
    transition: .4s ease;
}

.about .left a:hover {
    color: yellow;
    background: none;
}

.about .right {
    width: 50%;
}

.about .right img {
    width: 100%;
    transition: .4s ease;
}

.places .title::before {
    width: 105px;
}

.places .slide {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.places .slide .card {
    flex: 1 1 300px;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
}

.places .slide .card img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    transition: .4s ease;
}

.places .slide .card:hover img {
    transform: scale(1.05);
}

.places .slide .card:hover {
    background: yellow;
    cursor: pointer;
}

.places .slide .card h3 {
    font-family: 'Moon Dance', cursive;
    padding-top: 10px;
}

.places .slide .card p {
    font-size: 15px;
}

/* SERVICES SECTION STYLING STARTS HERE */
.services .title::before {
    width: 135px;
}

.services .slide {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.services .slide .card {
    flex: 1 1 300px;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
    transition: .4s ease;
}

.services .slide .card .bi {
    font-size: 44px;
}

.services .slide .card:hover {
    transform: scale(1.05);
    background: yellow;
    cursor: pointer;
}

.services .slide .card h3 {
    font-family: 'Moon Dance', cursive;
    padding-top: 10px;
}

.services .slide .card p {
    font-size: 15px;
}

/* CONTACT SECTION STYLING STARTS HERE */
.contact .title::before {
    width: 165px;
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
}
.contact .column{
    margin-top: 20px;
}

.contact .left {
    width: 45%;
}

.contact .left img {
    width: 100%;
}

.contact .right {
    width: 55%;
}
.contact .right .contact-form input,
.contact .right .contact-form textarea
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
    background: rgba(191, 187, 187, 0.564);
}
.contact .right .contact-form a
{
    font-size: 21px;
    font-weight: 700;
    padding: 4px 20px;
    color: white;
    background: rgba(20, 73, 218, 0);
    text-decoration: none;
    border: 2px solid #0008ff;
    font-family: 'Moon Dance', cursive;
    transition: .4s ease;
}
.contact .right .contact-form a:hover{
    color: yellow;
    background: none;
}

footer p{
    text-align: center;
    margin: 0 20px;
}
footer a{
    color: rgb(243, 122, 24);
}
footer a:hover{
    color: #111;
}
footer .icons{
    text-align: center;
    margin: 10px 0;
}
footer .icons .bi{ 
    cursor: pointer;
    margin: 5px;
}





@media (max-width: 1100px) {
    .carousel-caption h5 {
        font-size: 50px;
    }

    .carousel-caption {
        bottom: 300px;
    }

    .about .column {
        width: 100%;
    }

    .about .right img {
        margin-top: 20px;
    }

}
@media (max-width: 1000px) {
    .contact .column{
        width: 100%;
    }
}